devcontainer/
git/
github/
vscode/
contributing/
docs/
node_modules/
script/
tests/
lib/rest/static/dereferenced
# Folder is not cloned during the preview + prod workflows, the assets are merged anytime for use before the build
docs-early-access/
# During the preview deploy trusted user without a code may be not cloned into this directory
user-code/
